.titulo-prin{
    padding-left: 30px;
}

#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 20px;
}

.titulo-cen {
  text-align: center;
}

p {
  /* Selectores de Css */
  text-align: center;
}

p em strong {
  color: red;
}

#mision {
  font-size: 20px;
}

.diferenciales {
  background: white;
  padding: 20px;
}

.items {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin-right: 15%;
}

.img-diferencial {
  width: 50%;
}
